/******  Document wide elements  ******/
:root {
    --main-red-back-color: #af0808;
    --main-white-font-color: #fff;
    --main-dark-font-color: #3b4954;
    --background-color: #f9fbfd;
    --card-color: #fff;
}

* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  min-width: 320px;
}

/* Main password section */
.wrapper {
  padding: 30px 20px 0 20px;
}

/* Card header */
header {
  text-align: center;
  padding: 0 20px 20px 20px;
  color: var(--main-dark-font-color);
}

.card {
  max-width: 800px;
  padding: 30px 40px;
  margin: 0 auto;
  border-radius: 5px;
  border-width: 1px;
  color:var(--main-dark-font-color);
  background-color: var(--card-color);
  box-shadow: var(--main-dark-font-color) 0px 2px 8px 0px;
  font-size: 18px;
}

.card-header {
  display: flex;
  align-items: space-between;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  display: inline-block;
}

.copy {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.copy-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

hr {
  width: 100%;
  background: var(--main-dark-font-color);
}


#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  height: 260px;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--main-dark-font-color);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* Footer section */
.card-footer {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
}

.side {
  width: 300px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  border: none;
  color: var(--main-white-font-color);
  background-color: var(--main-red-back-color);
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

button:focus {
  outline: none;
}

.generate {
  height: 60px;
  width: 300px;
  padding: 14px 34px;
  margin: 16px 16px 16px 20px;
  border-radius: 25px;
  font-size: 22px;
  line-height: 22px;
}

/* Options selectors */
.options {
  width: 100%;
  margin: 3px;
  text-align: left;
}

.slide-container {
  display: inline-block;
}

.slide-container span {
  text-align: center;
}

#f {
  font-weight: bold;
  color: var(--main-red-back-color);
}

.arrow-btn {
  padding: 6px 12px;
  border-radius: 10px;
  display:none;
}

.arrow {
  padding: 3px;
  border: solid var(--main-white-font-color);
  border-width: 0 3px 3px 0;
  color: var(--main-white-font-color);
  display: inline-block;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.slider {
  color: var(--main-white-font-color);
  background-color: var(--main-red-back-color);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.icon-credit {
  font-size: 12px;
  right: 0;
}

/* Password copied notification */
.modal-container {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 60px;
  z-index: 1;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.modal {
  width: 250px;
  border: 1px black solid;
  border-radius: 20px;
  color: var(--main-white-font-color);
  background-color: var(--main-red-back-color);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* Hides arrows when screen is too small */
@media (min-width: 380px) {
  .arrow-btn {
    display: inline-block;
  }
}

/* Hides arrows when screen is too small */
@media (min-width: 440px) {
  #password {
    height: 160px;
  }
}

/* Hides arrows when screen is too small */
@media (min-width: 830px) {
  #password {
    height: 100px;
  }
}